---
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: false
BinPackLongBracedList: false
BinPackParameters: OnePerLine
IndentWidth: 4
InsertBraces: true
PointerAlignment: Left
QualifierAlignment: Right
SpaceAfterCStyleCast: true
SpaceBeforeCpp11BracedList: true
TabWidth: 4
UseTab: Always
