---
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: false
BinPackLongBracedList: false
BinPackParameters: OnePerLine
ColumnLimit: 100
IndentWidth: 4
InsertBraces: true
InsertNewlineAtEOF: true
PenaltyBreakAssignment: 100
PenaltyReturnTypeOnItsOwnLine: 10000
QualifierAlignment: Left
SpaceAfterCStyleCast: true
SpaceBeforeCpp11BracedList: true
TabWidth: 4
UseTab: Always
